# Example config file

# Configuration of each digitizer is specified by a set of parameters beginning
# with "digitizer_", followed by the digitizer number (consequential), followed
# by "_" and the parameter name, e.g., "digitizer_0_link".
# 
# Required parameters:
# digitizer_N_link: connection type. Supported connections are:
#   usb             PC --USB--> (VME Bridge) --(VME bus)--> digitizer
#   optical         PC --optical cable--> digitizer
#   usb_a4818       PC --USB--> A4818 --(optical cable)--> digitizer
#   usb_a4818_v2178 PC --USB--> A4818 --(optical cable)--> V2718 --(VME bus)--> digitizer
#   usb_a4818_v3178 PC --USB--> A4818 --(optical cable)--> V3718 --(VME bus)--> digitizer
#   usb_a4818_v4178 PC --USB--> A4818 --(optical cable)--> V4718 --(VME bus)--> digitizer
#   usb_v4718       PC --USB--> V4718 --(VME bus)--> digitizer
#
# digitizer_N_link_arg:
#   if digitizer_N_link == usb or usb_v4718:
#     USB device number (enumeration excludes non-CAEN devices)
#   if digitizer_N_link == optical:
#     optical link number
#   if digitizer_N_link == usb_a4818*:
#     PID of the A4818 adaptor
#
# Optional parameters:
# digitizer_N_conet:    daisy chain number of the device
# digitizer_N_vme:      VME Base Address of the board in hexadecimal (rotary
#                       switches setting << 16)
# digitizer_N_channels: enabled channels mask (hexadecimal)
#
# For the details, refer to function CAEN_DGTZ_OpenDigitizer2 of CAENDigitizer
# library.
#
# Configuration options:
# waveforms_enabled:
#   enable/disable acquisition of waveforms.
#   Default is disabled (0).
# waveforms_nsamples:
#   waveform length in the number of samples. When 0, waveforms acquisition is disabled.
#   Default is 0.
#   See Set/GetRecordLength in UM1935_CAENDigitizer Library.
# pre_trigger_size:
#   number of samples before the trigger activation that will be included in the waveforms.
#   Default is 0.
#   See Set/GetPreTriggerSize in UM1935_CAENDigitizer Library.
#
# DPP PSD parameters (see UM2580_DPSD_UserManual and UM1935_CAENDigitizer Library):
# trigger_hold_off:
#   time after trigger activation when other trigger signals are inhibited, ns.
#   Default is 0 ns.
#   See CAEN_DGTZ_DPP_PSD_Params_t.trgho.
# trigger_threshold:
#   trigger fires when the signal exceeds this value above the baseline.
#   Default is 20.
#   See CAEN_DGTZ_DPP_PSD_Params_t.thr.
# self_trigger:
#   enable/disable channel self trigger.
#   Default is disabled (0).
#   See CAEN_DGTZ_DPP_PSD_Params_t.selft
# short_gate:
#   length of the short charge integration window.
#   Default is 50 (100 ns).
#   See CAEN_DGTZ_DPP_PSD_Params_t.sgate.
# long_gate:
#   length of the long charge integration window.
#   Default is 80 (160 ns).
#   See CAEN_DGTZ_DPP_PSD_Params_t.lgate.
# gate_offset:
#   number of samples before the trigger activation when the charge integration begins.
#   Default is 0.
#   See CAEN_DGTZ_DPP_PSD_Params_t.pgate.
# trigger_window:
#   trigger validation acceptance window.
#   See CAEN_DGTZ_DPP_PSD_Params_t.tvaw
# baseline_samples:
#   an integer designating the number of samples taken to calculate the baseline.
#     Options for x720:
#       0 = FIXED (not supported)
#       1 = 8
#       2 = 32
#       3 = 128
#     Options for x751:
#       0 = FIXED (not supported)
#       1 = 8
#       2 = 16
#       3 = 32
#       4 = 64
#       5 = 128
#       6 = 256
#       7 = 512
#     Options for x730/x725:
#       0 = FIXED (not supported)
#       1 = 16
#       2 = 64
#       3 = 256
#       4 = 1024
#   Default is 1.
#   See CAEN_DGTZ_DPP_PSD_Params_t.nsbl
# discrimination_mode:
#   discrimination mode for event selection.
#     0 = leading edge discrimination (LED)
#     1 = digital constant fraction discrimination (CFD)
#   Default is 0.
#   See CAEN_DGTZ_DPP_PSD_Params_t.discr.
# CFD_fraction:
#   fraction of the constant fraction discriminator (CFD)
#     0 = 25%
#     1 = 50%
#     2 = 75%
#     3 = 100%
#   See CAEN_DGTZ_DPP_PSD_Params_t.cfdf
# CFD_delay:
#   delay of the constant fraction discriminator (CFD).
#   See CAEN_DGTZ_DPP_PSD_Params_t.cfdd

verbose 3

digitizer_0_link        usb_a4818
digitizer_0_link_arg    25509
digitizer_0_channels    f

waveforms_enabled       0
waveforms_nsamples      280
pre_trigger_size        50
